<div>
	<h3>What topics would you like to pull from each source?</h3>
	<form>
		<div ng-repeat="source in selectedSources">
			<div ng-show="source.selected" class="source">
				<h5>{{source.name}}</h5>
			    <div class="checkbox" ng-repeat="topic in source.topics">
				    <label>
					    <input type="checkbox" value="" ng-model="topic.selected">
					    {{topic.name}}
				    </label>
			    </div>
		    </div>
	    </div>
	    <input ng-click="saveTopics()" type="submit" class="btn btn-success" value="Done">
	</form>
</div>